body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    margin: 0;
    padding: 0;
}

/* Tabelle */
table {
    background-color: black;
    padding: 1px;
    display: inline-block;
    margin: 2px;
}

/* Zeilen */
tr {
    margin-bottom: 4px;
}

/* Zellen */
td {
    width: 70px;
    height: 40px;
    background-color: white;
    text-align: center;
    padding: 3px;
    font-size: 16px;
}

/* Text-Zellen breiter */
.text {
    width: 120px;
    font-weight: bold;
}

/* Hover Effekt */
td:hover {
    background-color: #eaeaea;
}

/* Inputs */
input {
    width: 60px;
    height: 30px;
    text-align: center;
    margin: 2px;
    border: 1px solid #ccc;
    font-size: 16px;
    

}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
    
}
/* Button */
button {
    padding: 6px 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #1a252f;
}

/* Ergebnis */
#gradepoint,
#averagegrade,
#grade
 {
    font-size: 22px;
    font-weight: bold;
}
#abi {
    width: 430px;
    height: 35px;
    position: absolute;
    top: 2px;
    left: 131px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#msa {
    width: 431px;
    height: 35px;
    position: absolute;
    top: 2px;
    left: 563px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bbr {
    width: 214px;
    height: 35px;
    position: absolute;
    top: 42px;
    right: 216px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bügo {
    width: 646px;
    height: 35px;
    position: absolute;
    top: 42px;
    left: 131px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ka {
    width: 214px;
    height: 35px;
    position: absolute;
    top: 2px;
    right: 0px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#schoolleavingqualification {
    position: relative;
    height: 80px;
}
* {
    box-sizing: border-box;
    
}
#hallo {
    background-color: rgb(0, 138, 0);
}
#calculationcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, max-content));
    gap: 10px;
    width: 100%;
}
#calculationcontainer > div, 
#calculationcontainer > table {
    transform: scale(0.01);       /* Macht die Elemente auf 80% ihrer Originalgröße kleiner */
    transform-origin: top left;  /* Verhindert, dass durch das Verkleinern Freiraum entsteht */
    width: max-content;          /* Hält das Element kompakt */
}
